<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <!-- below tag will disable security policy checking for FIPS -->
    <enforceFIPSPolicy enabled="false"/>
  </runtime>
</configuration>
